*{
    font-weight: bolder;
}

select{
    line-height: 1.5;
}
.slogan{
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    h1{
        color: black !important;
    }
        .slogan{
            margin-top: 0px;
        }
}
    

