<!-- <section class="page-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</section> -->
<app-search></app-search>

<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-lg-8">
                <div class="product-details">
                    <h1 class="product-title">{{ car.name }}</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="bi bi-folder-open-o"></i> {{ "Category" | translate }} :<a href="category.html">{{
                  car.maker
                }}</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="bi bi-location-arrow"></i> {{ "location" | translate }} :<a href="category.html">{{ car.location }}
                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider">
                        <div class="product-slider-item my-4" data-image="../../../assets/images/products/products-1.jpg">
                            <img class="img-fluid w-100" src="{{ car.img1 }}" alt="product-img" />
                        </div>
                        <div class="product-slider-item my-4" data-image="../../../assets/images/products/products-2.jpg">
                            <img class="d-block img-fluid w-100" src="{{ car.img2 }}" alt="Second slide" />
                        </div>
                        <div class="product-slider-item my-4" data-image="../../../assets/images/products/products-3.jpg">
                            <img class="d-block img-fluid w-100" src="{{ car.img3 }}" alt="Third slide" />
                        </div>
                        <div class="product-slider-item my-4" data-image="../../../assets/images/products/products-1.jpg">
                            <img class="d-block img-fluid w-100" src="{{ car.img4 }}" alt="Third slide" />
                        </div>
                        <div class="product-slider-item my-4" data-image="../../../assets/images/products/products-2.jpg">
                            <img class="d-block img-fluid w-100" src="{{ car.img5 }}" alt="Third slide" />
                        </div>
                    </div>
                    <!-- product slider -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>{{ "price" | translate }}</h4>
                        <p>{{car.price}} ريال</p>
                    </div>

                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <h3 class="tab-title">{{ "ProductSpecifications" | translate }}</h3>
                        <table class="table table-bordered product-table">
                            <tbody>
                                <tr>
                                    <td>{{ "year" | translate }}</td>
                                    <td>{{ car.year }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "maker" | translate }}</td>
                                    <td>{{ car.maker }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "model" | translate }}</td>
                                    <td>{{ car.model }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "Mileage" | translate }}</td>
                                    <td>{{ car.mileage }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "Cylinders" | translate }}</td>
                                    <td>{{ car.Cylinders }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "Transmission" | translate }}</td>
                                    <td>{{ car.Transmission }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "Type" | translate }}</td>
                                    <td>{{ car.type }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "Doors" | translate }}</td>
                                    <td>{{ car.doors }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "Color" | translate }}</td>
                                    <td>{{ car.color }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "Fuel" | translate }}</td>
                                    <td>{{ car.fuel }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Map Widget -->
                    <div class="card mb-4">
                        <div class="card-header">{{ "maker" | translate }}</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">BMW</a></li>
                                        <li><a href="#!">Lamborghini</a></li>
                                        <li><a href="#!">GMC</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Bentely</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Coupon Widget -->
                    <div class="widget coupon text-center">
                        <p>هل لديك سيارة لعرضها ؟</p>
                        <!-- Submii button -->
                        <a href="single.html" class="btn btn-transparent-white">{{ "Submit" | translate }}
            </a>
                    </div>
                </div>
            </div>
            <div class="content mt-5 pt-5 col-lg-8 col-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <h3 class="tab-title">{{ "ProductDescription" | translate }}</h3>
                        <p>{{ car.description }}</p>

                        <iframe title="Inline Frame Example" width="100%" height="400" src=" https://www.youtube.com/embed/qQg8vxnUFHo" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="actions_wrapper not_author">
                    <button class="btn-borderless action_btn bi bi-envelope">
            <span>مراسلة</span>
          </button>
                    <button class="btn-borderless action_btn bi bi-heart-fill">
            <span style="margin-left: 5px"></span><span>تفضيل</span>
          </button>
                    <button class="btn-borderless action_btn bi bi-share-fill" id="share_btn">
            <span>مشاركة</span>
          </button>
                    <button class="btn-borderless action_btn bi bi-flag-fill">
            <span>بلاغ</span>
          </button>
                </div>

                <!-- ********************comments************************  -->
                <div class="comment_list_wrapper">
                    <div *ngFor="let c of comments">
                        <div class="comment_wrapper" *ngIf="c.carID == carID">
                            <!-- *ngIf="c.carID == carID" -->
                            <div class="comment_meta">
                                <span class="main_meta">
                  <span class="def_username ms-2">
                    <img
                      class="rounded-circle"
                      style="height: 50px; width: 50px"
                      src="../../../assets/images/user/user-thumb.jpg"
                      alt="..."
                    />
                  </span>
                                <div *ngFor="let u of users">
                                    <span class="username_wrapper" *ngIf="c.userID == u.id">
                      <!--  -->
                      <span>
                        <a href="">{{ u.username }}</a>
                        <span
                          class="icon_wrapper_com clickable bi bi-envelope"
                          style="
                            width: 0.7em;
                            height: 0.7em;
                            padding: 8px;
                            background-color: rgb(228, 231, 245);
                            border-radius: 50%;
                          "
                        ></span>
                                    </span>
                                    <span class="comment_time">{{ c.date }}</span>
                                    </span>
                                </div>
                                </span>
                                <button type="button" class="btn btn-light" style="border-radius: 50%" (click)="deleteTask(c.id)"  *ngIf="currentUserID==c.userID" >
                                    <span id="boot-icon"  class="bi bi-trash" style="font-size: 18px; color: rgb(255, 0, 0)" ></span>
                                </button>
                            </div>
                            <div class="comment_body">
                                <span>{{ c.content }} </span>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="add_comment_wrapper" commentForm="ngForm" ngNativeValidate (ngSubmit)="onsubmit()" *ngIf="isLoggedIn">
                    <textarea name="comment" required #text="ngModel" [(ngModel)]="newComment.content" placeholder="أكتب سؤالك للمعلن هنا"></textarea>
                    <div class="btn_msg_wrapper">
                        <button class="btn my-btn mt-2" type="submit" [disabled]="!text.valid">
              <span>إرسال</span>
              <span class="bi bi-telegram" style="font-size: 1.5rem"></span>
            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

 <ngx-spinner>
<span>
    <img src="../../../assets/images/loader.gif" alt="">
</span>
</ngx-spinner>
