<app-search></app-search>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search-result bg-gray row none">
          <h2 class="col-6 col-lg-3 mt-3">{{ "result" | translate }}</h2>

          <div class="form-group btn-group col-7 col-sm-4 ms-5">
            <select
              class="form-select bg-dark text-warning"
              aria-label="Default select example"
            >
              <option class="text-warning">{{ "sort" | translate }}</option>
              <option value="" (click)="sortAtoZ()">ترتيب من أ الي ى</option>
              <option value="" (click)="sortZtoA()">ترتيب من ى الي أ</option>
            </select>

          </div>
          <div class="col-md-12 col-xl-4 social-media-icons text-left text-lg-left media row me-5">
            <a class="col-2" href="https://www.twitter.com/albumaticom">
                <img class=""src="../../../assets/images/logo/103-1037817_13-twitter-icon-vector-logo-images-twitter-logo.png"  width="50" width="50"/></a>
            <a class="col-2" href="https://www.youtube.com/channel/UCrNNWFH-e3lk3fNw2bT8tyg">
                <img class="" src="../../../assets/images/logo/youtube.png"  width="50"/></a>

            <a class="col-2" href="https://www.facebook.com/albumati.hama">
                <img class="" src="../../../assets/images/logo/facebook.png"  width="50"/></a>
            <a class="col-2" href="https://www.instagram.com/albumaticom">
                <img class=""src="../../../assets/images/logo/Instagram_logo_2016.svg.png"  width="50"/></a>
          </div>
        </div>
      </div>
    </div>

    <!-- search by logo -->
    <div class="row">
      <div class="col-lg-3 col-md-2">
        <div class="category-sidebar">
                  <!-- search  -->
        <form class="widget filter" #userForm="ngForm" (ngSubmit)="filterProject()">

            <h4 class="widget-header">{{ "show" | translate }}</h4>
            <div class="form-group btn-group w-100 my-2">
            <select class="form-select bg-dark text-warning" aria-label="Default select example" required>
                <option selected class="text-warning"> {{ "selectBrand" | translate }} </option>
                <option #all value="{{ m }}" *ngFor="let m of makers" (click)="selectbrand(all.value)" (click)="do()">
                {{ m }}
                </option>
            </select>
            </div>
            <div class="form-group btn-group w-100 my-2">
            <select class="form-select bg-dark text-warning" aria-label="Default select example" >
                <option class="text-warning">
                {{ "selectModel" | translate }}
                </option>
                <option #allmodel value="" (click)="selectmodel(allmodel.value)">
                الكل
                </option>
                <option #model value="{{ m }}" *ngFor="let m of models" (click)="selectmodel(model.value)">
                {{ m }}
                </option>
            </select>
            </div>
            <div class="form-group btn-group w-100 my-2">
              <select class="form-select bg-dark text-warning" aria-label="Default select example">
                <option class="text-warning">{{ "year" | translate }}</option>
                <option #allyear value="" (click)="selectyear(allyear.value)">
                  الكل
                </option>
                <option #year value="{{ y }}" *ngFor="let y of years" (click)="selectyear(year.value)">
                  {{ y }}
                </option>
              </select>
            </div>
            <div class="form-group btn-group w-100 my-2">
              <select class="form-select bg-dark text-warning" aria-label="Default select example" >
                <option class="text-warning">
                  {{ "location" | translate }}
                </option>
                <option #allloc value="" (click)="selectlocation(allloc.value)">
                  الكل
                </option>
                <option #location value="{{ l }}" *ngFor="let l of locations" (click)="selectlocation(location.value)">
                  {{ l }}
                </option>
              </select>
            </div>
            <button type="submit" class="btn my-btn w-100 mt-3" [disabled]="!userForm.valid">
              <span class="bi bi-search"></span>
            </button>
          </form>



          <div class="brand-logos">
            <a class="brand-logos--svg" *ngFor="let i of logo">
                <img alt="ford-logo" class="svg-size-5x" src="{{ i.path }}" width="60" (click)="filter(i.name)"/></a>
        </div>



          <div class="widget product-shorting"></div>
        </div>
      </div>
      <div class="col-12 col-lg-9 col-md-10">
        <div class="product-grid-list">
          <div class="row mt-30">
            <!-- try -->

            <!-- change here the number of cards in row -->
            <div class="col-lg-6 col-md-6" *ngFor="let car of cars">
              <!-- product card -->
              <div class="product-item bg-light">
                <div class="card">
                  <div class="thumb-content">
                    <div class="price">{{ car.price }} ريال</div>
                    <!-- <button class="fav btn btn-dark bi bi-heart-fill"></button> -->
                    <a (click)="toCar(car)">
                      <img
                        class="card-img-top"
                        src="{{ car.img1 }}"
                        alt="Card image cap"
                        height="400"
                        style="object-fit: cover"
                    /></a>
                  </div>
                  <div class="card-body">
                    <p style="font-size: small">{{ car.maker }}</p>
                    <h4 class="card-title">
                      <a (click)="toCar(car)">{{ car.name }} </a>
                    </h4>
                    <div class="row mt-3">
                      <p class="col-6">
                        {{ "model" | translate }}: {{ car.year }}
                      </p>
                      <p class="col-6">
                        {{ "Mileage" | translate }} :{{ car.mileage }} كم
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <ngx-spinner>
<span>
    <img src="../../../assets/images/loader.gif" alt="">
</span>
</ngx-spinner>
