<!-- <div class="ratings">
    <ul class="list-inline">
        <li class="list-inline-item selected">
            <i class="bi bi-star"></i>
        </li>
        <li class="list-inline-item selected">
            <i class="bi bi-star"></i>
        </li>
        <li class="list-inline-item">
            <i class="bi bi-star"></i>
        </li>
        <li class="list-inline-item">
            <i class="bi bi-star"></i>
        </li>
        <li class="list-inline-item">
            <i class="bi bi-star"></i>
        </li>
    </ul>
</div> -->
<div class="product-ratings">
			<ul class="list-inline">
				<li class="list-inline-item selected"><i class="bi bi-star"></i></li>
				<li class="list-inline-item selected"><i class="bi bi-star"></i></li>
				<li class="list-inline-item selected"><i class="bi bi-star"></i></li>
				<li class="list-inline-item selected"><i class="bi bi-star"></i></li>
				<li class="list-inline-item"><i class="bi bi-star"></i></li>
			</ul>
		</div>