<footer class="footer section section-sm bg-black">
  <!-- Container Start -->
  <div class="container">
    <div class="my-footer">
      <!-- About -->
      <div class="container">
        <div class="row">
          <div class="col">
            <img
              src="../../../assets/images/logoen.png"
              alt="logo"
              class="w-50 mylogo"
            />
          </div>
          <div class="col">
            <ul class="social-media-icons text-center text-lg-right">
              <li><a class="bi text-white" href="/">الصفحة الرئيسية</a></li>
              <li><a class="bi text-white" href="/product"> معرض السيـارات</a></li>
              <li><a class="bi text-white" href="mailto: yusrluxurycar@gmail.com"> {{ "sellYourCar" | translate }}  </a></li>
            </ul>
          </div>
          <div class="col">  <img
            src="../../../assets/images/Layer 2.svg"
            alt="logo"
            class="w-25 mylogo"
          /></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
        <!-- Copyright -->
        <!-- <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a class="text-white" href="">Ahmed Aldesoky</a></p>
          </div> -->
      </div>
      <div class="">
        <!-- Social Icons -->
        <!-- <ul class="social-media-icons text-center text-lg-right">
            <li><a class="bi bi-facebook" href="https://www.facebook.com/themefisher"></a></li>
            <li><a class="bi bi-twitter" href="https://www.twitter.com/themefisher"></a></li>
            <li><a class="bi bi-pinterest" href="https://www.pinterest.com/themefisher"></a></li>
            <li><a class="bi bi-github" href="https://www.github.com/themefisher"></a></li>
          </ul> -->
      </div>
    </div>
  </div>
  <!-- Container End -->
  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="bi bi-angle-up">zzz</i>
  </div>
</footer>
