<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0 ms-5  mb-lg-0 my-footer  ">
          <!-- About -->
          <div class="block about ">
            <!-- footer logo -->
            <img src="../../../assets/images/logoen.png" alt="logo" class="w-100 mylogo">
            <!-- description -->
            <p class="alt-color"></p>
          </div>
        </div>
        <!-- Link list -->
        <div class="col-lg-2  col-md-3 col-6 mb-4 mb-lg-0">
          <div class="block">
            <ul>
              <li><a href="">اعلان مميز</a></li>
              <li><a href="">حساب و سداد عمولة الموقع</a></li>
              <li><a href="">الإشتراك بعضوية معارض السيارات</a></li>
              <li><a href="">سداد رسوم السلع و الخدمات المكررة</a></li>
              <li><a href="">طلب تقرير سيارة</a></li>
            </ul>
          </div>
        </div>
        <!-- Link list -->
        <div class="col-lg-2 col-md-3   col-6 mb-4 mb-md-0 ms-2">
          <div class="block">
            <ul>
              <li><a href="category.html">اتفاقية الاستخدام</a></li>
              <li><a href="single.html">Single Page</a></li>
              <li><a href="store.html">توثيق العضوية و إضافة التراخيص</a></li>
              <li><a href="single-blog.html">نظام الخصم</a>
              </li>
        
  
  
  
            </ul>
          </div>
        </div>
        <!-- Promotion -->
        <div class="col-lg-4 col-md-7 me-5">
          <!-- App promotion -->
          <div class="block-2 app-promotion">
            <div class="mobile d-flex  align-items-center">
              <a href="index.html">
                <!-- Icon -->
              </a>
            </div>
            <div class="download-btn d-flex ">
              <a href="index.html"><img src="../../../assets/images/apps/google-play-store.png" class="img-fluid" alt=""></a>
              <a href="index.html" class=" ml-3"><img src="../../../assets/images/apps/apple-app-store.png" class="img-fluid" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </footer>
  <!-- Footer Bottom -->
  <footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
          <!-- Copyright -->
          <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a class="text-white" href="">Ahmed Aldesoky</a></p>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- Social Icons -->
          <ul class="social-media-icons text-center text-lg-right">
            <li><a class="bi bi-facebook" href="https://www.facebook.com/themefisher"></a></li>
            <li><a class="bi bi-twitter" href="https://www.twitter.com/themefisher"></a></li>
            <li><a class="bi bi-pinterest" href="https://www.pinterest.com/themefisher"></a></li>
            <li><a class="bi bi-github" href="https://www.github.com/themefisher"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <div class="scroll-top-to">
      <i class="bi bi-angle-up">zzz</i>
    </div>
  </footer>